services:
  certbot-renew:
    image: certbot/dns-cloudflare:latest
    container_name: certbot-renew
    volumes:
      - ./certbot/conf:/etc/letsencrypt
    environment:
      - CF_API_TOKEN=${CF_TOKEN}
    networks:
      - app-network
    command: >
      renew --dns-cloudflare

  fastapi:
    image: registry.cn-chengdu.aliyuncs.com/jusu/pymecli:latest
    container_name: fastapi
    expose:
      - "8000"
    volumes:
      - ./certbot/conf:/etc/letsencrypt
    environment:
      - CLASH_PROXY=socks5://192.168.123.7:7890
    command: >
      fast 0.0.0.0 --port 8000
      --rule https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release
      --my-rule https://raw.githubusercontent.com/meme2046/data/refs/heads/main/clash
      --proxy socks5://192.168.123.7:7890
    # depends_on:
    #   - certbot-renew
    networks:
      - app-network
    restart: unless-stopped

  nginx:
    # image: nginx:alpine
    image: openresty/openresty:alpine
    container_name: nginx
    ports:
      - "8889:80"
      - "8888:443"
    volumes:
      # - ./files/.nginx:/etc/nginx/nginx.conf:ro
      - ./files/.nginx:/usr/local/openresty/nginx/conf/nginx.conf:ro
      - ./files/logs:/usr/local/openresty/nginx/logs # 挂载日志目录
      # - ./files/lua-scripts:/usr/local/openresty/nginx/lua-scripts \ # 挂载Lua脚本
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - certbot-renew # 添加这个依赖
      - fastapi
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
