version: "3.8"

services:
  certbot-renew:
    image: certbot/dns-cloudflare:latest
    container_name: certbot-renew
    volumes:
      - ./certbot/conf:/etc/letsencrypt
    environment:
      - CF_API_TOKEN=${CF_TOKEN}
    networks:
      - app-network
    command: >
      renew --dns-cloudflare

  fastapi:
    image: registry.cn-chengdu.aliyuncs.com/jusu/pymecli:latest
    container_name: fastapi
    ports:
      - "8888:80"
      # - "443:443"
    volumes:
      - ./certbot/conf:/etc/letsencrypt
    command: >
      fast 0.0.0.0 --port 80
      --ssl-keyfile /etc/letsencrypt/live/meme.us.kg/privkey.pem
      --ssl-certfile /etc/letsencrypt/live/meme.us.kg/fullchain.pem
      --rule https://cdn.jsdelivr.net/gh/Loyalsoldier/clash-rules@release
      --my-rule https://raw.githubusercontent.com/meme2046/data/refs/heads/main/clash
      --proxy socks5://192.168.123.7:7890
    # depends_on:
    #   - certbot-renew
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
